---
import DND from "@/components/DND.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="NoMoreBackground">
	<main class="m-auto p-4 w-[800px] max-w-[calc(100%_-_1rem)]">
		<DND />
	</main>
</Layout>
